@import 'invoker-tokens/index.scss';

.root {
  display: inline-flex;
  width: 100%;
  @include screen(phone) {
    flex-direction: column-reverse;
  }
  @include screen(tabPortrait) {
    flex-direction: column-reverse;
  }
  @include screen(tabLandscape) {
    flex-direction: row;
  }
  @include screen(desktop) {
    flex-direction: row;
  }
  @include screen(desktopWide) {
    flex-direction: row;
  }
}

.backSecondary {
  @include screen(phone) {
    display: none;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: initial;
  }
  @include screen(desktop) {
    display: initial;
  }
  @include screen(desktopWide) {
    display: initial;
  }
}

.details {
  @include screen(phone) {
    width: 100%;
    max-width: 100%;
    padding: $space-ml;
  }
  @include screen(tabPortrait) {
    width: 100%;
    max-width: 100%;
    padding: $space-ml;
  }
  @include screen(tabLandscape) {
    width: 55%;
    max-width: 55%;
    padding: $space-ll;
  }
  @include screen(desktop) {
    width: 55%;
    max-width: 55%;
    padding: $space-ll;
  }
  @include screen(desktopWide) {
    width: 55%;
    max-width: 55%;
    padding: $space-ll;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reportStatus {
  // text-transform: capitalize;
}

.map {
  will-change: transform;
  @include screen(phone) {
    position: unset;
    display: block;
    width: 100%;
    height: 55vh;
  }
  @include screen(tabPortrait) {
    position: unset;
    display: block;
    width: 100%;
    height: 55vh;
  }
  @include screen(tabLandscape) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45%;
  }
  @include screen(desktop) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45%;
  }
  @include screen(desktopWide) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45%;
  }
}

.mapElement {
  @include screen(phone) {
    height: 100%;
  }
  @include screen(tabPortrait) {
    height: 100%;
  }
  @include screen(tabLandscape) {
    height: 100vh;
  }
  @include screen(desktop) {
    height: 100vh;
  }
  @include screen(desktopWide) {
    height: 100vh;
  }
}

.image {
  border-radius: 8px;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profileImageContainer {
  width: 48px;
  height: 48px;
  margin: $space-inline-sm;
}

.profileImage {
  border-radius: 9999px;
}

.name {
  color: $dark-alpha-70;
}

.role {
  color: $dark-alpha-50;
  text-transform: capitalize;
}

.reportImagesContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.reportImage {
  width: 120px;
  height: 120px;
  margin-right: 12px;
}

.reportAction {
  padding: $space-vertical-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backPrimary {
  padding: $space-ml;
  @include screen(phone) {
    display: block;
  }
  @include screen(tabPortrait) {
    display: block;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: none;
  }
  @include screen(desktopWide) {
    display: none;
  }
}