@import 'invoker-tokens/index.scss';

.root {
  display: flex;
  margin: $space-stack-ml;
  border: 1px solid $dark-alpha-20;
  border-radius: 3px;
  transition: all .36s;
  cursor: pointer;

  &:hover {
    border-color: $brand-primary-200;
    box-shadow: 0px 12px 24px -8px rgba(0,0,0,.20);
    transition: all .32s;
  }
}

.text {
  padding: $space-inset-ml;
  flex: 1.2;
}

.profileContainer {
  width:40px;
  height: 40px;
  overflow: hidden;
  border-radius: 9999px;
  margin-right: 12px;
  min-width: 40px;
}

.profileImage {
  width:40px;
  height: 40px;
  min-width: 40px;
}

.reporter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: $space-stack-ml;
}

.address {
  margin: 0;
  color: $dark-alpha-70;
}

.name {
  margin: 0;
  color: $dark-alpha-70;
}

.role {
  margin: 0;
  color: $dark-alpha-60;
}

.map {
  flex: 1;
  background: $bg-rose-100;
  min-height: 216px;
}

.eventImages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.imageContainer {
  width: 96px;
  height: 96px;
  margin: $space-inline-sm;
}

.image {
  border-radius: 4px;
}