@import '~invoker-tokens/index.scss';

.root {
  cursor: pointer;
  padding: $space-vertical-ml;
  color: $dark-alpha-70;
}

.active {
  color: $brand-primary-200;
  box-shadow: 0px 1px 0px 0px $brand-primary-200, inset 0px -1px 0px 0px $brand-primary-200;
}

.disabled {
  color: $dark-alpha-30;
}
