@import 'invoker-tokens/index.scss';

.root {
  padding: $space-inset-sm;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.12);
  margin: $space-stack-s;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.profileContainer {
  width: 48px;
  height: 48px;
  margin: $space-inline-sm;
}

.profilePicture {
  border-radius: 9999px;
}

.role {
  text-transform: capitalize;
  color: $dark-alpha-60;
}