@import 'invoker-tokens/index.scss';

.root {
  cursor: pointer;
  padding: $space-inset-sm;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.12);
  margin: $space-stack-s;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  transition: all .36s;

  &:hover {
    transition: all .28s;
    box-shadow: 0px 12px 24px -10px rgba(0,0,0,.20);
    border-color: $brand-primary-200;
  }
}

.profileContainer {
  width: 48px;
  height: 48px;
  margin: $space-inline-sm;
}

.profilePicture {
  border-radius: 9999px;
}

.name {
  color: $dark-alpha-70;
}

.role {
  text-transform: capitalize;
  color: $dark-alpha-60;
}