@import 'invoker-tokens/index.scss';

.root {
  display: inline-flex;
  width: 100%;
}

.details {
  width: calc(100% - 264px);
  padding-right: 10%;
}

.header {
  padding: $space-vertical-ml;
  margin: $space-stack-ml;
}

.name {
  color: $dark-alpha-70;
  margin: $space-stack-sm;
}

.role {
  text-transform: uppercase;
  color: $dark-alpha-50;
}

.picture {
  max-width: fit-content;
  height: fit-content;
  position: sticky;
  top: 48px;
}

.profileImageContainer {
  margin-top: 0;
  width: 264px;
  height: 264px;
}

.subheading {
  color: $dark-alpha-70;
  margin: $space-stack-ml;
}

.profileImage {
  border-radius: 8px;
}

.personalInformation {
  padding: $space-inset-ml;
  border: 1px solid $dark-alpha-20;
  border-radius: 3px;
}

.profileInfo {
  padding: $space-vertical-sm;
  border-bottom: 1px solid $dark-alpha-20;
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: flex-start;
}

.infoPoint {
  flex: 1;
}

.infoValue {
  flex: 1.68;
  text-transform: capitalize;
}

.ktpImage {
  border-radius: 3px;
}

.validateUser {
  padding-top: $space-ml;
  width: 100%;
}

.listContainer {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-end;
}

.list {
  margin: $space-inline-sm;
  color: $dark-alpha-60;
}

.point {
  color: $dark-alpha-70;
}

.smallHeading {
  color: $dark-alpha-70;
}

.activitesHeader {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: $space-stack-l;
}